streamlit==1.64.0
langchain-core==1.6.3
langchain-groq==1.1.3
langgraph==1.2.11
langchain-neo4j==0.10.0
langchain-huggingface==1.2.2
neo4j==6.3.1
sentence-transformers==6.0.1
pydantic==2.13.5
pydantic-settings==2.15.0
python-dotenv==1.2.3
gTTS==2.5.4
groq==0.37.1
FlashRank==0.2.10
